<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.g_okuyama.capture"
      android:versionCode="9"
      android:versionName="1.8">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.Black">
        <activity android:name=".ContShooting"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="http" android:host="org.g_okuyama.capture"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".ContShootingPreference"></activity>
        <meta-data android:name="i-mobile_Publisher_ID" android:value="8076" />
        <meta-data android:name="ADSTIR_APP_ID" android:value="74792bcf" />
    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<uses-sdk android:minSdkVersion="5"></uses-sdk>
</manifest> 